/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: rgb(10, 140, 153);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.3;
  word-spacing: 0.1em;
}

a:link {
  color: rgb(204, 36, 129);
}

a:hover {
  color: rgb(204, 36, 129);
}

a:active {
  color: rgb(135, 198, 204);
}

.mobile {
  display: none;
}

.main-content {
  position: relative;
  top: 4rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin-right: 1rem;
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

/* Header Section */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 4rem;
  /*color: rgb(10, 140, 153);*/
  background-color: white;
  border-bottom: 2px solid rgb(204, 36, 129);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  padding-left: 24px;
  height: 3.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.logo span {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
}

.colmar {
  font-weight: 400;
  color: rgb(10, 140, 153);
}

.academy {
  font-weight: 300;
  color: rgb(135, 198, 204);
}

header li {
  display: inline-block;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 670px) {
  .logo {
    display: none;
  }

  .desktop {
    display: none;
  }

  header nav .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  header .mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
  }

  header .mobile li {
    padding: 2rem;
  }
}

/* Landing Section */

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner-image {
  margin: 2rem 1.5rem;
  width: 60%;
  overflow: hidden;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 27%;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

.banner-text h1,
.banner-text p {
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 2px solid rgb(204, 36, 129);
}

.banner-button:hover {
  background-color: rgb(135, 198, 204);
}

.banner-button:active {
  background-color: rgb(204, 36, 129);
}

@media only screen and (max-width: 670px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .banner-image {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  .banner-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin: 0;
    padding: 2rem 1rem 2rem 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .banner-button {
    width: 100%;
  }

  .banner-text p {
    padding-top: 2rem;
  }

}

/* Information Section */

.information-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.feature-story {
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.feature-story img {
  max-width: 100%;
  height: auto;
  display: block;
}

.feature-story h2 {
  padding-top: 2rem;
}

.feature-story p {
  padding-top: 1.5rem;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40%;
  margin-top: 1rem;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
  align-items: center;
}

.story:hover,
.feature-story:hover,
.feature-video:hover {
  background-color: rgb(159, 212, 206);
}

.story-image {
  padding: 1rem;
  width: 35%;
  overflow: hidden;
}

.story img {
  max-width: 100%;
  height: auto;
  display: block;
}

.story-text {
  width: 56%;
}

.story-text p {
  padding: 0.5rem 0;
}

.story-image .mobile {
  display: none;
}

@media only screen and (max-width: 670px) {
  .feature-story {
    display: none;
  }

  .stories {
    width: 100%;
    margin-top: 0;
  }

  .story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .story-image {
    width: 94%;
  }

  .story-image .desktop {
    display: none;
  }

  .story-image .mobile {
    display: block;
    width: 100%;
  }

  .story-text {
    width: 90%;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
}

/* Courses Section */

.learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.learning h2 {
  padding-top: 2rem;
}

.wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  overflow: hidden;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  width: 30%;
  padding: 1rem;
  overflow: hidden;
}

.course img {
  width: 100%;
  height: auto;
  display: block;
}

.text-box {
  margin-left: 1rem;
  text-align: left;
}

.course-p {
  padding: 0.5rem 0rem;
}

.text-box h3 {
  padding-top: 1rem;
}

@media only screen and (min-width: 671px) {
  .course:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(204, 36, 129, 0.7);
    -webkit-transition: all 500ms ease-in-out 100ms;
    -moz-transition: all 500ms ease-in-out 100ms;
    -ms-transition: all 500ms ease-in-out 100ms;
    -o-transition: all 500ms ease-in-out 100ms;
    transition: all 500ms ease-in-out 100ms;
  }
}


@media only screen and (max-width: 670px) {
  .learning h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .wrap-container {
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0rem 0rem;
  }

  .course {
    width: 100%;
    padding: 0;
  }

  .course img {
    display: none;
  }

  .text-box {
    border: 1px solid rgb(204, 36, 129);
    border-radius: 4px;
    margin: 0.25rem 1rem;
  }

  .text-box h3 {
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .text-box p {
    display: none;
  }

}

/* Showcase Section */

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.showcase h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
}

.feature-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  height: auto;
  overflow: hidden;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.feature-video video {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.feature-video h3 {
  padding-top: 1.5rem;
}

.feature-video p {
  padding-top: 0.5rem;
}

@media only screen and (max-width: 670px) {
  .showcase {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .stories.desktop {
    display: none;
  }

  .feature-video {
    width: 100%;
    margin: 0;
  }

  .feature-video h3,
  .feature-video p {
    display: none;
  }
}

/* Footer Section */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: rgb(135, 198, 204);
}

.copyright {
  flex-grow: 1;
}

.copyright span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5rem;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.terms nav {
  justify-content: space-around;
}

.terms nav ul{
  list-style: none;
}

footer li {
  display: inline-block;
  padding: 0 0.1rem;
}

@media only screen and (max-width: 670px) {
  footer {
    padding: 1rem 0;
  }

  .copyright span {
    padding-left: 1rem;
  }

  .terms {
    display: none;
  }

}
